<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Filmes</title>
</head>
<body>
<form action="#" th:action="@{/save-filme}" th:object="${filme}" method="post">
    <label>Título</label>
    <input name="nome" th:field="*{nome}" placeholder="Título...">
    <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>

    <label>Gênero</label>
    <input name="genero"th:field="*{genero}" placeholder="Gênero...">

    <label>Ano</label>
    <input name="ano"th:field="*{ano}" placeholder="Ano...">
    <div th:if="${#fields.hasErrors('ano')}" th:errors="*{ano}"></div>

    <label>Elenco</label>
    <div th:each="ator, atorStat: *{atores}">
        <select th:field="*{atores[__${atorStat.index}__]}" name="dropAtores">
            <option th:each="ator:${atores}" th:value="${ator.id}" th:text="${ator.nome}" name="optionAtores">
            </option>
        </select>
    </div>
    <fieldset>
        <input type="submit" id="submitButton" value="Salvar">
        <input type="submit" id="resetButton" value="Resetar">
    </fieldset>
</form>
</body>
</html>